<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CrusisSingapura.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF0047FD1EF1607F00692D48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF0048111EF1607F00692D48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF00481C1EF1608000692D48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
